---
import NavLink from '../components/NavLink.astro'
import ThemeIcon from '../components/ThemeIcon.astro'

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"

const links = [
  {
    link: '/',
    title: 'home',
  },
  ...['about', 'blog', 'projects'].map((i) => ({ link: '/' + i, title: i })),
]
---

<div class="flex flex-col items-start my-4 relative font-mono">
  <div class="flex self-stretch w-full flex-[0_0_auto] items-center my-4">
    <div class="flex justify-between flex-1 grow items-center relative">
      <nav class="inline-flex items-center gap-[12px] relative flex-[0_0_auto]">
        {
          links.map((link) => (
            <NavLink
              link={link.link}
              title={link.title}
              isActive={link.link === '/' + currentPath}
            />
          ))
        }
      </nav>
      <div class="inline-flex gap-[8px] flex-[0_0_auto] items-center">
        <a
          rel="noopener noreferrer"
          href="https://github.com/kartacze"
          target="_blank"
          class="w-7 h-7 i-carbon-logo-github dark:bg-white text-primary"></a>
        <a
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/teodor-pytka/"
          target="_blank"
          class="w-7 h-7 i-carbon-logo-linkedin dark:bg-white text-primary"></a>
        <ThemeIcon />
      </div>
    </div>
  </div>
  <div class="h-[2px] bg-primary w-full"></div>
</div>
