---

---

<main transition:animate="fade" class="flex flex-col items-start gap-10 relative">
  <div class="flex flex-col">
    <h1 class="text-4xl prose prose-truegray font-mono">Teodor Pytka</h1>
    <h3 class="text-base prose prose-truegray font-mono mt-2">
      Husband, Father, Full-stack Developer
    </h3>
  </div>
  <div>
    <p class="font-mono text-base">
      I’m a full-stack developer based in Warsaw, Poland. I took part in
      development of wide range of projects from content based pages to banking
      and e-commerce application. From static to full-blown real-time apps.
    </p>
    <p class="font-mono text-base mt-4">
      Actively exploring elixir lang and mobile landscape.
    </p>
  </div>
  <a class="font-mono" href="/about"
    >More on About page <div class="i-carbon-arrow-right mb-[2px]"></div></a
  >
</main>
