---
const { title, link, isActive } = Astro.props
---

<h1
  class={`[font-family:'IBM_Plex_Mono-Regular',Helvetica] font-normal text-brown text-lg sm:text-xl tracking-[0] leading-[normal] [text-transform:capitalize] text-primary ${isActive ? '' : 'opacity-60'}`}
>
  <a href={link}>{title}</a>
</h1>

<script></script>
