---

---

<button
  id="theme-toggle"
  type="button"
  class="w-7 h-7 dark:w-7 dark:h-7 i-carbon-sun dark:i-carbon-moon bg-primary"
></button>

<style>
  :global(.dark) {
    color-scheme: dark;
  }
</style>

<script is:inline>
  console.log('running again')

  var storedTheme =
    localStorage.getItem('theme') ||
    (window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light')
  if (storedTheme)
    document.documentElement.setAttribute('data-theme', storedTheme)

  console.log('stored theme', storedTheme)

  function setTheme(newDocument, theme) {
    console.log('setTheme', theme)
    if (theme === 'dark') {
      newDocument.documentElement.classList.add('dark')
    } else {
      newDocument.documentElement.classList.remove('dark')
    }
    newDocument.documentElement.dataset.theme = theme
    localStorage.setItem('theme', theme)
  }

  setTheme(document, storedTheme)

  const setToggle = (newDocument) => {
    var toggle = newDocument.getElementById('theme-toggle')

    console.log('new toggle', toggle)

    if (toggle) {
      toggle.onclick = function () {
        var currentTheme =
          newDocument.documentElement.getAttribute('data-theme')

        console.log('current theme ', currentTheme)

        const targetTheme = currentTheme === 'dark' ? 'light' : 'dark'
        setTheme(newDocument, targetTheme)

        newDocument.documentElement.setAttribute('data-theme', targetTheme)
        localStorage.setItem('theme', targetTheme)
      }
    }
  }

  setToggle(document)

  document.addEventListener('astro:before-swap', (ev) => {
    // Pass the incoming document to set the theme on it
    let theme = localStorage.getItem('theme')
    console.log('thteme is ', theme)
    setTheme(ev.newDocument, theme)
    setToggle(ev.newDocument)
  })
</script>
