---

---

<button
  id="theme-toggle"
  type="button"
  class="i-carbon-sun dark:i-carbon-moon bg-primary w-7 h-7"></button>

<style>
  :global(.dark) {
    color-scheme: dark;
  }
</style>

<script>
  var toggle = document.getElementById('theme-toggle')

  var storedTheme =
    localStorage.getItem('theme') ||
    (window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light')
  if (storedTheme)
    document.documentElement.setAttribute('data-theme', storedTheme)

  if (toggle) {
    toggle.onclick = function () {
      var currentTheme = document.documentElement.getAttribute('data-theme')
      var targetTheme = 'light'

      if (currentTheme === 'light') {
        targetTheme = 'dark'
      }

      document.documentElement.setAttribute('data-theme', targetTheme)
      localStorage.setItem('theme', targetTheme)
    }
  }
</script>
