---
import Header from '../components/Header.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title?: string
}

const { title = 'Pytka.xyz' } = Astro.props
---

<!doctype html>
<html lang="en" class="h-full w-full antialiased bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative min-h-screen dark:bg-black">
    <div
      class="flex m-auto min-h-screen w-full max-w-[920px] h-full sm:bg-[#fffdfdaa] dark:bg-[#232211] sm:shadow-[0px_4px_23px_10px_#95553566]"
    >
      <div
        id="color-blend"
        class="h-screen w-screen fixed inset-0 mix-blend-color-burn [background:radial-gradient(50%_50%_at_50%_50%,rgba(42.67,111.93,167.88,0.45)_0%,rgba(149.81,85.71,53.06,0.4)_54.81%)] opacity-80 dark:opacity-100"
      >
      </div>

      <div
        class="flex flex-row flex-1 w-full items-center sm:mx-20 mx-4 py-0 relative"
      >
        <article
          class="flex flex-1 flex-col min-h-full border-primary-800 sm:gap-12 gap-8"
        >
          <Header />
          <slot />
        </article>
      </div>
    </div>
    <style is:global>
      :root {
        --blue: #2b70a8;
        --brown: #965635;
      }

      html[data-theme='dark'] {
        --blue: #aa00ff;
        --brown: #905662;
      }

      html {
        height: 100%;
      }
      body {
        min-height: 100%;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        #color-blend {
          mix-blend-mode: color-burn;
        }
        background: radial-gradient(
            121.38% 73.52% at 50% 50%,
            rgba(150, 86, 53, 0.4) 0%,
            rgba(229, 191, 91, 0.34) 60.25%,
            rgba(43, 112, 168, 0.45) 100%
          ),
          #fff;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
